# droppings
*~
.\#*
\#*
foo*
*.beam
/specs

/*.png
/.ICEauthority
/.IdeaIC*/
/.Xauthority
/.aspell.*
/.aws
/.awsvault/
/.bash_history
/.bash_logout
/.cache/
/.cargo/
/.cask/
/.config/
/.dbus/
/.docker/
/.emacs.d/
/.erlang
/.erlang.cookie
/.face*
/.fontconfig/
/.gkrellm2/
/.gnome/
/.gnupg
/.gradle/
/.gtkrc-*
/.hydrogen/
/.intellij/
/.java/
/.kde/
/.konan/
/.krew/
/.kube
/.lastpass/
/.lesshst
/.lmmsrc.xml
/.local/
/.localbashrc
/.mozilla/
/.nmcli*
/.nv/
/.pam_environment
/.password-store/
/.pgAdmin*
/.pgadmin*
/.pgadmin3
/.pgpass
/.pki/
/.pulse-cookie
/.python_history
/.rustup/
/.screenlayout/
/.slack*
/.ssh/
/.steam/
/.steampath
/.steampid
/.sudo_as_admin_successful
/.terraform.d/
/.uplink/
/.wg2/
/.wget*
/.xinputrc
/.xpra/
/.xsession-errors
/_ssh/
/autosave.h2song
/bin/bazel
/bin/docker-credential-*
/bin/kubectl-*

/Desktop/
/Downloads/
/Pictures/
/coverage/
/pgadmin.log
/snap/
/stale_outputs_checked
/user_default.erl

/git/
/pet/
/wg2/
