# droppings
*~
.\#*
\#*
foo*
*.beam

/.ICEauthority
/.IdeaIC*/
/.Xauthority
/.aspell.*
/.aws/
/.awsvault/
/.bash_history
/.bash_logout
/.cache/
/.cask/
/.config/
/.docker/
/.emacs.d/
/.erlang
/.erlang.cookie
/.face*
/.gkrellm2/
/.gnupg/
/.gradle/
/.gtkrc-*
/.intellij/
/.java/
/.kde/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mozilla/
/.nmcli*
/.password-store/
/.pgAdmin*
/.pgadmin*
/.pgadmin3
/.pgpass
/.pki/
/.pulse-cookie
/.python_history
/.screenlayout/
/.slack*
/.ssh/
/.steam/
/.steampath
/.steampid
/.sudo_as_admin_successful
/.terraform.d/
/.uplink/
/.xpra/
/.xsession-errors

/Desktop/
/Downloads/
/coverage/
/pgadmin.log
/snap/
/stale_outputs_checked
/user_default.erl

/git/
/wg2/
