# -*- mode: conf -*-
[user]
  name = mats cronqvist
  email = masse@cronqvi.st

[github]
  user = massemanet

[color]
   ui = auto

[alias]
  co = checkout
  st = status
  lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pushf = push --force-with-lease
  poke-ci = commit --allow-empty -m'poke ci'
  sync = "! ~/bin/git_sync"
  alias = "! git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"
  pushu = "! git push -u origin $(git branch -a | awk '/\\*/{print $2}')"
  cp = "! ~/bin/git_cp $1 $2 $3"
[push]
  default = simple
